{banner}

; ns.ocf is master server and hostmaster@ocf is technical contact
@ IN SOA ns.ocf.berkeley.edu. hostmaster.ocf.berkeley.edu. (
{serial} ; serial number
                         1d         ; slave refresh schedule interval
                         30m        ; slave retry on failure interval
                         4w         ; slave expiration of zone data
                         30m        ; negative TTL
                       )

firewall                      IN   A    128.32.84.11
firewall                      IN   AAAA 2607:f140:b000:22::1
firewall--ethernet1-21-594    IN   A    128.32.82.170
firewall--ethernet1-21-594    IN   AAAA 2607:f140:b000:23::2
firewall--ethernet1-22-594    IN   A    128.32.82.174
firewall--ethernet1-22-594    IN   AAAA 2607:f140:b000:24::2
firewall--ethernet1-21-595    IN   A    128.32.82.178
firewall--ethernet1-21-595    IN   AAAA 2607:f140:8801:1::2
firewall--ethernet1-22-595    IN   A    128.32.82.182
firewall--ethernet1-22-595    IN   AAAA 2607:f140:8801:2::2

dev-vhost                     IN   MX   5   anthrax
dev-dev-vhost                 IN   MX   5   dev-anthrax
decal                         IN   MX   5   anthrax

; DNSSEC DS records published in the berkeley.edu zone
@	IN DS	24784 8 1 49843D73409C0C76C35C1DC380B59F0013363AC4
@	IN DS	24784 8 2 F54DA8CE8E213127A6FFE64FCC33696C6C77F6305C8B2002E0CCADD047BA86CD

; https://sslmate.com/labs/caa/
@	IN	CAA	0 issue "comodoca.com"
@	IN	CAA	0 issuewild "comodoca.com"
@	IN	CAA	0 issue "letsencrypt.org"
@	IN	CAA	0 issuewild "letsencrypt.org"
@	IN	CAA	0 iodef "mailto:security@ocf.berkeley.edu"

{records}

; vim: noet ts=16 sts=16 sw=16 ft=bindzone
