{banner}

$ORIGIN 226.229.169.in-addr.arpa.
$TTL 1d

@ IN SOA ns.ocf.berkeley.edu. hostmaster.ocf.berkeley.edu. (
{serial} ; serial number
                         1d         ; slave refresh schedule interval
                         30m        ; slave retry on failure interval
                         4w         ; slave expiration of zone data
                         30m        ; negative TTL
                       )

@ IN NS adns1.berkeley.edu.
@ IN NS adns2.berkeley.edu.
@ IN NS adns3.berkeley.edu.

; gateway
1 IN PTR vlan635.inr-350-reccev.berkeley.edu.

{records}

; vim: noet ts=16 sts=16 sw=16 ft=bindzone
