{banner}

; ns.ocf is master server and hostmaster@ocf is technical contact
@ IN SOA ns.ocf.berkeley.edu. hostmaster.ocf.berkeley.edu. (
{serial} ; serial number
                         1d         ; slave refresh schedule interval
                         30m        ; slave retry on failure interval
                         4w         ; slave expiration of zone data
                         30m        ; negative TTL
                       )

firewall	IN CNAME	ocf-2.eac.berkeley.edu.
dev-vhost	IN MX	5 anthrax
dev-dev-vhost	IN MX	5 dev-anthrax

; https://sslmate.com/labs/caa/
; legacy CAA records (we need bind >= 9.9.6 to use real ones)
; TODO(ckuehl|2017-04-09): replace with these records:
;@	IN	CAA	0 issue "comodoca.com"
;@	IN	CAA	0 issue "letsencrypt.org"
;@	IN	CAA	0 issuewild "comodoca.com"
;@	IN	CAA	0 iodef "security@ocf.berkeley.edu"
@	IN	TYPE257	\# 19 00056973737565636F6D6F646F63612E636F6D
@	IN	TYPE257	\# 22 000569737375656C657473656E63727970742E6F7267
@	IN	TYPE257	\# 23 0009697373756577696C64636F6D6F646F63612E636F6D
@	IN	TYPE257	\# 32 0005696F6465667365637572697479406F63662E6265726B656C65792E656475

{records}

; vim: noet ts=16 sts=16 sw=16 ft=bindzone
